@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "ExpoArabic", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #333;
  color: #fff;
}
*::selection {
  background-color: #333;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #FFD371;
  opacity: 0.5;
  transition: all 0.5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@-webkit-keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-webkit-keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@-webkit-keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@-webkit-keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  position: relative;
  z-index: 9;
  margin-bottom: 50px;
}
.heading::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #333;
  top: 0;
  right: 0;
  border-radius: 5px;
  z-index: -1;
}
.heading h1 {
  color: #000000;
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
}

.category-box {
  width: 100%;
  height: 250px;
  position: relative;
  z-index: 9;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  transition: all 0.3s linear;
}
.category-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s linear;
}
.category-box h2 {
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  z-index: 99;
}
.category-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 70%;
  z-index: 9;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
  transition: all 0.3s linear;
}
.category-box:hover {
  transform: translateY(-10px);
}
.category-box:hover img {
  transform: scale(1.2);
}
.category-box:hover h2 {
  color: #87B467;
}
.category-box:hover::after {
  height: 100%;
}

.product-box {
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s linear;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.product-box .image-content {
  width: 100%;
  height: 250px;
}
.product-box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product-box .content {
  width: 100%;
  padding: 20px 10px;
}
.product-box .content .head {
  color: #000;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.product-box .content .flex-price {
  display: flex;
  align-items: center;
  align-content: center;
}
.product-box .content .flex-price p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}
.product-box .content .flex-price p.before {
  text-decoration: line-through;
  color: #ddd;
}
.product-box .content .flex-price p.after {
  color: #000000;
  font-weight: 900;
  -webkit-margin-start: 15px;
          margin-inline-start: 15px;
}
.product-box .content .add-to-cart {
  position: absolute;
  bottom: 0px;
  left: -100px;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 0px 30px 30px 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all 0.3s linear;
  overflow: hidden;
}
.product-box .content .add-to-cart img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(91deg) brightness(100%) contrast(104%);
}
.product-box .content .add-to-cart:hover img {
  -webkit-animation: fadeInright 0.3s linear both;
          animation: fadeInright 0.3s linear both;
}
.product-box:hover {
  transform: translateY(-10px);
}
.product-box:hover .head {
  color: #87B467;
}
.product-box:hover .add-to-cart {
  left: 0px;
}

.navbar {
  width: 100%;
  padding: 0px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff;
}
.navbar.scrolled {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
}
.navbar.scrolled .top-nav, .navbar.scrolled .navbar-nav {
  display: none;
}
.navbar.scrolled .logo-nav .brand-name img {
  height: 60px !important;
}
.navbar .top-nav {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #f5f7f9;
}
.navbar .top-nav .content {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .top-nav .content .call-data {
  display: flex;
  align-content: center;
  align-items: center;
}
.navbar .top-nav .content .call-data li {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.navbar .top-nav .content .call-data li a {
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar .top-nav .content .call-data li a img {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.navbar .top-nav .content .call-data li a span {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.navbar .top-nav .content .call-data li a:hover img {
  -webkit-animation: bounce-in-fwd 0.4s linear both;
          animation: bounce-in-fwd 0.4s linear both;
  filter: invert(72%) sepia(64%) saturate(264%) hue-rotate(52deg) brightness(81%) contrast(87%);
}
.navbar .top-nav .content .call-data li a:hover span {
  color: #87B467;
}
.navbar .top-nav .content .lang-contain {
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar .top-nav .content .lang-contain .lang-drop {
  position: relative;
  z-index: 99;
}
.navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down {
  position: absolute;
  width: 200px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  top: 100%;
  right: 0;
  z-index: 99;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li {
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}
.navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li:last-child {
  border-bottom: 0px !important;
}
.navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li a {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 9;
}
.navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li a img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li a span {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/check_circle.svg") center/contain no-repeat;
  top: calc(50% - 10px);
  right: 10px;
  z-index: -1;
  filter: invert(72%) sepia(64%) saturate(264%) hue-rotate(52deg) brightness(81%) contrast(87%);
  transform: scale(0);
  transition: all 0.3s linear;
}
.navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li a:hover span, .navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li a.active span {
  color: #87B467;
}
.navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li a:hover::after, .navbar .top-nav .content .lang-contain .lang-drop .lang-drop-down li a.active::after {
  transform: scale(1);
}
.navbar .top-nav .content .lang-contain .lang-drop:hover .lang-drop-down {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.navbar .top-nav .content .lang-contain .lang-drop:hover .link.lang::after {
  transform: rotate(-180deg);
}
.navbar .top-nav .content .lang-contain .link {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 7px 20px;
  background-color: #eee;
  border-radius: 30px;
}
.navbar .top-nav .content .lang-contain .link span {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.navbar .top-nav .content .lang-contain .link img {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.navbar .top-nav .content .lang-contain .link.lang {
  -webkit-padding-start: 30px !important;
          padding-inline-start: 30px !important;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  position: relative !important;
  z-index: 9;
}
.navbar .top-nav .content .lang-contain .link.lang::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../images/down_arrow.png") center/contain no-repeat;
  top: calc(50% - 7px);
  right: 10px;
  z-index: -1;
  transition: all 0.3s linear;
}
.navbar .logo-nav {
  width: 100%;
  padding: 10px 0px 15px;
}
.navbar .logo-nav .content {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .logo-nav .content .brand-name img {
  width: 150px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  transition: all 0.3s linear;
}
.navbar .logo-nav .content .from-contain {
  width: 700px;
  height: 50px;
  position: relative;
}
.navbar .logo-nav .content .from-contain .form-group {
  width: 100%;
  height: 100%;
  position: relative;
}
.navbar .logo-nav .content .from-contain .form-group img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
}
.navbar .logo-nav .content .from-contain .form-group .form-control {
  width: 100%;
  height: 100%;
  border: 0px;
  background-color: #f7f7f7;
  border-radius: 50px;
  -webkit-padding-start: 50px;
          padding-inline-start: 50px;
  color: #333;
  font-size: 15px;
}
.navbar .logo-nav .content .from-contain .form-group .form-control::-moz-placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.navbar .logo-nav .content .from-contain .form-group .form-control:-ms-input-placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.navbar .logo-nav .content .from-contain .form-group .form-control::placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.navbar .logo-nav .content .shoping-cart {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 9;
}
.navbar .logo-nav .content .shoping-cart img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  transition: all 0.3s linear;
}
.navbar .logo-nav .content .shoping-cart .name {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.navbar .logo-nav .content .shoping-cart .number {
  width: 20px;
  height: 20px;
  background-color: #FF4F46;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}
.navbar .logo-nav .content .shoping-cart:hover img {
  -webkit-animation: translateX 1s linear infinite;
          animation: translateX 1s linear infinite;
}
.navbar .logo-nav .content .shoping-cart:hover .name {
  color: #87B467;
}
.navbar .logo-nav .content .icons-contain {
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar .logo-nav .content .icons-contain .search-icon, .navbar .logo-nav .content .icons-contain .more-icon {
  display: none;
}
.navbar .logo-nav .content .icons-contain .search-icon img, .navbar .logo-nav .content .icons-contain .more-icon img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .navbar-nav {
  width: 100%;
  padding: 0px 0px;
  flex-direction: row;
  background-color: #F5F7F9;
  justify-content: center;
}
.navbar .navbar-nav .nav-item.drop-list {
  position: relative;
}
.navbar .navbar-nav .nav-item.drop-list .nav-link {
  -webkit-padding-end: 20px !important;
          padding-inline-end: 20px !important;
}
.navbar .navbar-nav .nav-item.drop-list .nav-link::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../images/down_arrow.png") center/contain no-repeat;
  top: calc(50% - 7px);
  left: 2px;
  z-index: -1;
  transition: all 0.3s linear;
}
.navbar .navbar-nav .nav-item.drop-list .dropshape {
  position: absolute;
  width: 200px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  top: 100%;
  right: 0;
  z-index: 99;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.navbar .navbar-nav .nav-item.drop-list .dropshape li {
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}
.navbar .navbar-nav .nav-item.drop-list .dropshape li:last-child {
  border-bottom: 0px !important;
}
.navbar .navbar-nav .nav-item.drop-list .dropshape li a {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 9;
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.navbar .navbar-nav .nav-item.drop-list .dropshape li a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/check_circle.svg") center/contain no-repeat;
  top: calc(50% - 10px);
  right: 10px;
  z-index: -1;
  filter: invert(72%) sepia(64%) saturate(264%) hue-rotate(52deg) brightness(81%) contrast(87%);
  transform: scale(0);
  transition: all 0.3s linear;
}
.navbar .navbar-nav .nav-item.drop-list .dropshape li a:hover span, .navbar .navbar-nav .nav-item.drop-list .dropshape li a.active span {
  color: #87B467;
}
.navbar .navbar-nav .nav-item.drop-list .dropshape li a:hover::after, .navbar .navbar-nav .nav-item.drop-list .dropshape li a.active::after {
  transform: scale(1);
}
.navbar .navbar-nav .nav-item.drop-list:hover .nav-link {
  color: #87B467;
}
.navbar .navbar-nav .nav-item.drop-list:hover .nav-link::before {
  filter: invert(72%) sepia(64%) saturate(264%) hue-rotate(52deg) brightness(81%) contrast(87%);
  transform: rotate(-180deg);
}
.navbar .navbar-nav .nav-item.drop-list:hover .nav-link::after {
  height: 100%;
}
.navbar .navbar-nav .nav-item.drop-list:hover .dropshape {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.navbar .navbar-nav .nav-item .nav-link {
  padding: 20px 15px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  z-index: 9;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: rgba(135, 180, 103, 0.3);
  top: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #87B467;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after {
  height: 100%;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
  padding: 10px 0px;
}
.bottom-nav li .bottom-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.bottom-nav li .bottom-link img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 5px;
}
.bottom-nav li .bottom-link span {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.category {
  width: 100%;
  padding: 300px 0px 70px 0px;
}

.form-popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}
.form-popup .form-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.form-popup .contain {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  padding: 20px 10px;
  background-color: #fff;
  z-index: 99;
}
.form-popup .contain .from-contain {
  width: 100%;
  height: 50px;
  position: relative;
}
.form-popup .contain .from-contain .form-group {
  width: 100%;
  height: 100%;
  position: relative;
}
.form-popup .contain .from-contain .form-group img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
}
.form-popup .contain .from-contain .form-group .form-control {
  width: 100%;
  height: 100%;
  border: 0px;
  background-color: #f7f7f7;
  border-radius: 50px;
  -webkit-padding-start: 50px;
          padding-inline-start: 50px;
  color: #333;
  font-size: 15px;
}
.form-popup .contain .from-contain .form-group .form-control::-moz-placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.form-popup .contain .from-contain .form-group .form-control:-ms-input-placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.form-popup .contain .from-contain .form-group .form-control::placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.form-popup.active-form {
  opacity: 1;
  visibility: visible;
}
.form-popup.active-form .form-overlay {
  opacity: 1;
  visibility: visible;
}
.form-popup.active-form .contain {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.side-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}
.side-nav .nav-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.side-nav .side-contain {
  width: 300px;
  height: 100%;
  padding: 20px 10px;
  background-color: #fff;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  top: 0;
  left: -100%;
  z-index: 999;
}
.side-nav .side-contain .brand-name img {
  width: 100px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.side-nav .side-contain p {
  font-size: 14px;
  color: #000;
  padding: 15px 0px;
  text-align: justify;
  font-weight: 500;
  margin: 20px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.side-nav .side-contain .lang {
  display: flex;
  align-items: center;
  align-content: center;
}
.side-nav .side-contain .lang img {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.side-nav .side-contain .lang span {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.side-nav .side-contain .call-data {
  display: flex;
  flex-direction: column;
}
.side-nav .side-contain .call-data li {
  margin-bottom: 15px;
}
.side-nav .side-contain .call-data li a {
  display: flex;
  align-items: center;
  align-content: center;
}
.side-nav .side-contain .call-data li a img {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.side-nav .side-contain .call-data li a span {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.side-nav .side-contain .call-data li a:hover img {
  -webkit-animation: bounce-in-fwd 0.4s linear both;
          animation: bounce-in-fwd 0.4s linear both;
  filter: invert(72%) sepia(64%) saturate(264%) hue-rotate(52deg) brightness(81%) contrast(87%);
}
.side-nav .side-contain .call-data li a:hover span {
  color: #87B467;
}
.side-nav .side-contain .lang-drop {
  position: relative;
  z-index: 99;
}
.side-nav .side-contain .lang-drop .lang-drop-down {
  position: absolute;
  width: 200px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  top: 100%;
  right: 0;
  z-index: 99;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.side-nav .side-contain .lang-drop .lang-drop-down li {
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}
.side-nav .side-contain .lang-drop .lang-drop-down li:last-child {
  border-bottom: 0px !important;
}
.side-nav .side-contain .lang-drop .lang-drop-down li a {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 9;
}
.side-nav .side-contain .lang-drop .lang-drop-down li a img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.side-nav .side-contain .lang-drop .lang-drop-down li a span {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.side-nav .side-contain .lang-drop .lang-drop-down li a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/check_circle.svg") center/contain no-repeat;
  top: calc(50% - 10px);
  right: 10px;
  z-index: -1;
  filter: invert(72%) sepia(64%) saturate(264%) hue-rotate(52deg) brightness(81%) contrast(87%);
  transform: scale(0);
  transition: all 0.3s linear;
}
.side-nav .side-contain .lang-drop .lang-drop-down li a:hover span, .side-nav .side-contain .lang-drop .lang-drop-down li a.active span {
  color: #87B467;
}
.side-nav .side-contain .lang-drop .lang-drop-down li a:hover::after, .side-nav .side-contain .lang-drop .lang-drop-down li a.active::after {
  transform: scale(1);
}
.side-nav .side-contain .lang-drop:hover .lang-drop-down {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.side-nav .side-contain .lang-drop:hover .link.lang::after {
  transform: rotate(-180deg);
}
.side-nav .side-contain .lang-contain {
  display: flex;
  align-items: center;
  align-content: center;
}
.side-nav .side-contain .lang-contain .link {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 7px 20px;
  background-color: #eee;
  border-radius: 30px;
}
.side-nav .side-contain .lang-contain .link span {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.side-nav .side-contain .lang-contain .link img {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.side-nav .side-contain .lang-contain .link.lang {
  -webkit-padding-start: 30px !important;
          padding-inline-start: 30px !important;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  position: relative !important;
  z-index: 9;
}
.side-nav .side-contain .lang-contain .link.lang::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../images/down_arrow.png") center/contain no-repeat;
  top: calc(50% - 7px);
  right: 10px;
  z-index: -1;
  transition: all 0.3s linear;
}
.side-nav.active-side {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.side-nav.active-side .nav-overlay {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.side-nav.active-side .side-contain {
  left: 0px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}

.cat-popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}
.cat-popup .cat-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.cat-popup .contain {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  padding: 0px 15px 30px;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 300px;
  background-color: #fff;
  transform: translateY(40px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.cat-popup .contain::-webkit-scrollbar, .cat-popup .contain::-webkit-scrollbar-track, .cat-popup .contain::-webkit-scrollbar-thumb {
  width: 0px !important;
  height: 0px;
  background: transparent !important;
}
.cat-popup .contain .head-cat {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  color: #000;
  font-size: 20px;
  font-weight: 900;
  padding: 20px 10px 10px;
  background-color: #fff;
  z-index: 999;
}
.cat-popup .contain .navbar-nav {
  width: 100%;
  padding: 0px 0px;
  flex-direction: column !important;
}
.cat-popup .contain .navbar-nav .nav-item {
  width: 100% !important;
}
.cat-popup .contain .navbar-nav .nav-item .nav-link {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  z-index: 9;
}
.cat-popup .contain .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(135, 180, 103, 0.3);
  top: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.cat-popup .contain .navbar-nav .nav-item .nav-link:hover {
  color: #87B467;
}
.cat-popup .contain .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}
.cat-popup.active-cat {
  opacity: 1;
  visibility: visible;
}
.cat-popup.active-cat .cat-overlay {
  opacity: 1;
  visibility: visible;
}
.cat-popup.active-cat .contain {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.projects {
  padding-bottom: 70px;
}

footer {
  width: 100%;
  padding: 30px 0px 10px;
}
footer .links li {
  margin-bottom: 10px;
}
footer .links li a {
  display: flex;
  align-items: center;
  align-content: center;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s linear;
}
footer .links li a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
footer .links li a span {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
footer .links li a:hover {
  color: #87B467;
  transform: translateX(-10px);
}
footer .links li a:hover img {
  filter: invert(75%) sepia(21%) saturate(771%) hue-rotate(52deg) brightness(86%) contrast(83%);
}
footer .links li a:hover span {
  color: #87B467;
}
footer p {
  font-size: 15px;
  font-weight: 500;
  text-align: justify;
  line-height: 1.3rem;
  margin-bottom: 20px;
}
footer .social-media {
  display: flex;
  align-items: center;
  align-content: center;
}
footer .social-media li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
footer .social-media li a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .social-media li a:hover img {
  -webkit-animation: tada 0.4s linear both;
          animation: tada 0.4s linear both;
  filter: invert(75%) sepia(21%) saturate(771%) hue-rotate(52deg) brightness(86%) contrast(83%);
}
footer .copyrights {
  width: 100%;
  padding: 0px 0px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
footer .copyrights p {
  margin: 0px !important;
}
footer .copyrights a {
  display: flex;
  align-items: center;
  align-content: center;
}
footer .copyrights a span {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
footer .copyrights a img {
  width: 120px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 999px) {
  .navbar .top-nav, .navbar .navbar-nav, .navbar .from-contain {
    display: none;
  }
  .navbar .icons-contain .search-icon, .navbar .icons-contain .more-icon {
    display: block !important;
  }
  .navbar .icons-contain .search-icon {
    -webkit-margin-end: 10px;
            margin-inline-end: 10px;
  }
  .navbar .icons-contain .search-icon img {
    width: 30px !important;
    height: 30px !important;
  }
  .navbar .icons-contain .shoping-cart .name {
    display: none;
  }
  .category {
    padding-top: 140px !important;
    padding-bottom: 20px;
  }
  .heading {
    margin-bottom: 20px;
  }
  .product-box .image-content {
    height: 150px;
  }
  .product-box .content {
    padding-top: 15px;
    padding-bottom: 40px;
  }
  .product-box .content .head {
    font-size: 15px;
    font-weight: 500;
  }
  .product-box .content p {
    font-size: 12px !important;
  }
  .projects {
    padding: 30px 0px 10px !important;
  }
  footer {
    padding: 30px 0px 80px;
  }
  footer .copyrights {
    flex-direction: column-reverse;
    justify-content: center !important;
  }
  footer .copyrights p {
    margin: 10px 0px 0px !important;
  }
  footer .copyrights a {
    padding-top: 10px;
    flex-direction: column-reverse;
    justify-content: center !important;
  }
  footer .copyrights a span {
    margin: 10px 0px 0px 0px !important;
  }
  footer .copyrights a img {
    width: 100%;
    height: 20px !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .bottom-nav {
    display: flex !important;
  }
  .heading h1 {
    font-size: 20px !important;
  }
  .category-box h2 {
    font-size: 17px !important;
  }
}/*# sourceMappingURL=style.css.map */